body{
    background:#fff;
}
.backcolor {
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.redback{ 
    background-color: #ff3000;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    
}
nav .navbar-nav .nav-item a{
    color: #0b2154;
    font-weight: 400;
}

.topimage{
width: 150px;
height: auto;
border-radius: 50%;
}

.navbar-option-item:first-child {
    margin-left: 0;
}

.navbar-option-item .btn1 {
    font-size: 13px;
    padding: 10px;

}
.navbar-option-item img {
    flex: 0 0 14px;
    -ms-flex: 0 1 auto;
    max-width: 14px;
    width: 14px;
    margin-right: 5px;
}
